* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
/* .container {
  max-width: 1320px !important;
  margin: auto; 
} */
image {
  width: 100%;
}
nav {
  background: rgba(0, 153, 3, 0.06);
  height: 80px;
  width: 100%;
}
label.logo {
  width: 131.887px;
  height: 48.259px;
}
.navbar_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  /* float: right; */
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: var(--Hero-Try, #0e0e0e);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-right: 50px;
}
.contact_btn {
  width: 170.381px;
  height: 60.532px;
  border-radius: 33.606px;
  background: #6037b0;
  color: #fff;
  border: 0;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  .ellipse {
    margin-top: 20px !important;
    margin: auto;
    /* text-align: c; */
  }
  .r1 {
    display: none;
  }
  label.logo {
    font-size: 30px;
    /* padding-left: 50px; */
  }
  nav ul li a {
    font-size: 16px;
  }
  .contact_btn {
    display: none;
  }
}
@media (max-width: 858px) {
  .contact_btn {
    width: 150px;
    height: 47px;
  }

  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: grey;
  }
  a:hover,
  a.active {
    background: none;
    color: white;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* hero part */
.e_content_text {
  color: #000;
  font-family: Nexa-Bold;
  font-size: 51px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero_details {
  color: #000;
  font-family: NexaRegular;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heto_bg {
  background: #eeefe7;
}

.discover_btn {
  border-radius: 33.606px;
  background: #6037b0;
  width: 190.589px;
  height: 67.711px;
  flex-shrink: 0;
  color: #fff;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

/* hero section end */

.own_images {
  width: 145.035px;
  height: 145.035px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section product */
.products {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.heading_center {
  color: #1e1e1e;
  font-family: Nexa-Bold;
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 85.5px */
  letter-spacing: -1.254px;
  margin-bottom: 50px;
}

.marginTop {
  margin-top: 150px;
}

/* our partners */
.partner_div {
  background: #fff;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
  /* max-width: 20px; */
  /* height: 207px; */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners_image {
  width: 143px !important;
  height: 68px !important;
}

.learn_more {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* clients */
.clients_image {
  width: 158.751px;
  height: 146.051px;
  flex-shrink: 0;
}

/* contact us */
.buttons_design {
  display: flex;
  margin-bottom: 48px;
}
.btn_common_design {
  max-width: 140.589px;
  height: 63.276px;
  flex-shrink: 0;
  border-radius: 33.606px;
  border: none;
  margin-bottom: 10px;
  /* margin:0 auto; */
  /* display: flex; */


}
.without-bg_btn {
  background: #fff;
  color: #000;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #390d9f;
  /* margin-right: 14px; */
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
}
.uae_btn {
  background: #390d9f;
  color: #fff;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 14px;
  width: 100%;
  height: 50px;
}
.ellipse {
  /* background-image: url('./images/Ellipse.png');
background-repeat: no-repeat;
background-size: 100%; */
  width: 100.634px;
  height: 100.634px;
  border-radius: 274.634px;
  background: rgba(123, 85, 210, 0.29);
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 100%;
}
.send_text {
  position: absolute;
  top: 10px;
}
.send {
  color: #000;
  font-family: Nexa-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124.5%; /* 65.985px */
  letter-spacing: -1.06px;
}
.contact_heading {
  color: #000;
  font-family: Nexa-Bold;
  font-size: 53px;
  font-style: normal;
  font-weight: 400;
  line-height: 124.5%;
  /* letter-spacing: -1.06px; */
}
.send_right_arrow {
  width: 59.305px;
  height: 43.131px;
  position: absolute;
  /* right: 180%; */
  margin-left: 80px;
}

.email_fields {
  margin-bottom: 18px !important;
}
.email_input_field {
  /* max-width: 391px !important; */
  width: 100%;
  border-radius: 0px;
  border: 1px solid #000;
  height: 50px;
}
.text_area {
  display: flex;
  width: 100%;
  max-height: 162px;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #000;
}

.footer_logo {
  width: 136.164px;
  height: 132.625px;
  flex-shrink: 0;
}

.f_links {
  text-decoration: none;
}

/* section 2 card */
.section2 {
  margin-top: 176px;
  margin-right: 0px;
}
.card1 {
  background-image: url("./images/r2.png");
  background-repeat: no-repeat;
  /* background-size: contain; */
  height: 794px !important;
  padding: 0px !important;
  margin-right: 25px !important;
  position: relative;
  margin-bottom: 20px;
}
.card2 {
  background-image: url("./images/r3.png");
  background-repeat: no-repeat;
  height: 794px !important;
  padding: 0px !important;
  position: relative;
  margin-bottom: 20px;
}
.r1 {
  background-image: url("./images/r1.png");
  background-repeat: no-repeat;
  height: 794px !important;
  width: 100%;
  margin-right: 25px !important}
.card1_text {
  background: var(--AS, rgba(96, 55, 176, 0.61));
  max-width: 100% !important;
  margin: 0px !important;
  position: absolute;
  bottom: 0 !important;
  padding: 30px;
}
.start_card{
  display: flex;
  justify-content: center;
  align-items: center; 
  /* margin-left: 10px; */
}
.card1_text2 {
  background: var(--AS, rgba(96, 55, 176, 0.61));
  /* width: 100% !important; */
  margin: 0px !important;
  position: absolute;
  bottom: 0 !important;
  padding: 30px;
}
.card3 {
  width: 200px;
}

.small_text {
  color: #faf2ed;
  font-family: NexaRegular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 39px */
  letter-spacing: -0.572px;
}
.card1_text h4 {
  color: #fff;
  font-family: NexaRegular;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 55.5px */
  letter-spacing: -0.814px;
}
.card1_text p {
  color: #fff;
  font-family: NexaRegular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 45px */
  letter-spacing: -0.66px;
}

.card4_text {
  color: #1e1e1e;
  font-family: NexaRegular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 63px */
  letter-spacing: -0.924px;
  width: 300px;
}
.digital {
  color: #fff;
  font-family: NexaRegular;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 63px */
  letter-spacing: -0.924px;
}
@media screen and (min-width: 992px) {
.card1_text {
  background: var(--AS, rgba(96, 55, 176, 0.61));
  /* width: 400px!important; */
  width: 100%;
  margin: 0px !important;
  position: absolute;
  bottom: 0 !important;
  padding: 30px;
}
}


.why_choose_us{
  color: #1E1E1E;
text-align: right;
font-family: Nexa-Bold;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 82.5px */
letter-spacing: -1.21px;
}


/* section 3 */
.sec3_heading{
  color: #000;
font-family: Nexa-Bold;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 63px */
letter-spacing: -0.924px;
}
.sec3_details{
  color: #242957;
  font-family: Nexa;
  /* font-size: 30px; */
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 45px */
  letter-spacing: -0.66px; 
}
.sec3_star{
  width: 234px;
  height: 234px;
  float: right;
}
@media screen and(max-width:768px) {
  .card1_text {
    /* background: var(--AS, rgba(96, 55, 176, 0.61)); */
    width:66% !important;
  }
}